@*one row*@
<div class="row homeInfo">
    <div class="col-md-12 homeTopic">
        <button type="button" class="btn btn-primary btn-lg btn-block btnTopic">Tour</button>
    </div>

    <div class="col-md-4 home-col-info">
        <a href="" title=""> <img src="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Grand Canyon_149709_1.jpg" alt="Q1 Homepage Middle Grand Canyon_149709_1.jpg"> </a>
        <h3 class="home-mm-title mvn"> <a href=""> Nature on Your Trip to Vegas? It's Possible!</a></h3>

        <span style="color:yellow">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>

        <label>More 200 tours</label>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn_seeMore">
            <a href="/Tour/Tour" target="_blank" class="btn btn-danger btn-lg"><i class="fa fa-spinner fa-spin"></i> See more</a>
        </div>
    </div>

    <div class="col-md-4 home-col-info">
        <a href="" title=""> <img src="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Sydney_149710_1.jpg" alt="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Sydney_149710_1.jpg"> </a>
        <h3 class="home-mm-title mvn"> <a href=""> Knock Out Your Must-See List in Sydney</a></h3>

        <span style="color:yellow">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>

        <label>More 200 tours</label>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn_seeMore">
            <a href="/Tour/Tour" target="_blank" class="btn btn-danger btn-lg"><i class="fa fa-spinner fa-spin"></i> See more</a>
        </div>
    </div>

    <div class="col-md-4 home-col-info">
        <a href="" title="">  <img src="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Ireland_149711_1.jpg" alt="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Ireland_149711_1.jpg" > </a>
        <h3 class="home-mm-title mvn"> <a href=""> Travel Beyond Dublin to the Irish Countryside</a></h3>

        <span style="color:yellow">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>

        <label>More 200 tours</label>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn_seeMore">
            <a href="/Tour/Tour" target="_blank" class="btn btn-danger btn-lg"><i class="fa fa-spinner fa-spin"></i> See more</a>
        </div>
    </div>

    <div class="col-md-4 home-col-info">
        <a href="" title="">  <img src="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Ireland_149711_1.jpg" alt="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Ireland_149711_1.jpg"> </a>
        <h3 class="home-mm-title mvn"> <a href=""> Travel Beyond Dublin to the Irish Countryside</a></h3>

        <span style="color:yellow">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>

        <label>More 200 tours</label>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn_seeMore">
            <a href="/Tour/Tour" target="_blank" class="btn btn-danger btn-lg"><i class="fa fa-spinner fa-spin"></i> See more</a>
        </div>
    </div>

    <div class="col-md-4 home-col-info">
        <a href="" title=""> <img src="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Grand Canyon_149709_1.jpg" alt="Q1 Homepage Middle Grand Canyon_149709_1.jpg"> </a>
        <h3 class="home-mm-title mvn"> <a href=""> Nature on Your Trip to Vegas? It's Possible!</a></h3>

        <span style="color:yellow">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>

        <label>More 200 tours</label>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn_seeMore">
            <a href="/Tour/Tour" target="_blank" class="btn btn-danger btn-lg"><i class="fa fa-spinner fa-spin"></i> See more</a>
        </div>
    </div>

    <div class="col-md-4 home-col-info">
        <a href="" title=""> <img src="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Sydney_149710_1.jpg" alt="https://cache-graphicslib.viator.com/graphicslib//mm/DSN-2202 Q1 Homepage Middle Sydney_149710_1.jpg"> </a>
        <h3 class="home-mm-title mvn"> <a href=""> Knock Out Your Must-See List in Sydney</a></h3>

        <span style="color:yellow">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </span>

        <label>More 200 tours</label>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 btn_seeMore">
            <a href="/Tour/Tour" target="_blank" class="btn btn-danger btn-lg"><i class="fa fa-spinner fa-spin"></i> See more</a>
        </div>
    </div>

</div>

    


