@{
    Layout = "~/Views/Shared/_PartialGuidelineLayout.cshtml";
}
<div class="container guidelines">
    <ul class="breadcrumb">
        <li><a href="/Home/HomePage">Trip&Go</a></li>
        <li class="active">Guideilines</li>
    </ul>
    <h2>Guidelines</h2>
    <div class="col-md-6">
        <a href="#" class="guidelinesHeader">How to add to card</a>
        <i class="fa fa-flag fa-6 guidelinesIcon" aria-hidden="true">14 articles</i>
        <ul class="article-list">
            <li>

                <a href="">Our guidelines for vacation rental reviews</a>
            </li>

            <li>

                <a href="#">What are airline reviews?</a>
            </li>

            <li>

                <a href="#">I am an airline employee. Can I write a review on my own airline or another?</a>
            </li>

            <li style="display: none;">

                <a href="#">What if I notice a review on the site that isn't in the right place?</a>
            </li>

            <li style="display: none;">

                <a href="#">How do I write a review?</a>
            </li>

            <li style="display: none;">

                <a href="#">How often can I write a review?</a>
            </li>

        </ul>
        <a href="#" class="guidelinesHeader">Listing Guidelines</a>
        <i class="fa fa-flag fa-6 guidelinesIcon" aria-hidden="true">24 articles</i>
        <ul class="article-list">
            <li>

                <a href="">What is a listing?</a>
            </li>

            <li>

                <a href="#">What kinds of places does Trip&Go list?</a>
            </li>

            <li>

                <a href="#">Who can request a listing?</a>
            </li>

            <li style="display: none;">

                <a href="#">What if I notice a review on the site that isn't in the right place?</a>
            </li>

            <li style="display: none;">

                <a href="#">How do I write a review?</a>
            </li>

            <li style="display: none;">

                <a href="#">How often can I write a review?</a>
            </li>

        </ul>
        <a href="#" class="guidelinesHeader">Fraud</a>
        <i class="fa fa-flag fa-6 guidelinesIcon" aria-hidden="true">34 articles</i>
        <ul class="article-list">
            <li>

                <a href="">Our guidelines for vacation rental reviews</a>
            </li>

            <li>

                <a href="#">What are airline reviews?</a>
            </li>

            <li>

                <a href="#">I am an airline employee. Can I write a review on my own airline or another?</a>
            </li>

            <li style="display: none;">

                <a href="#">What if I notice a review on the site that isn't in the right place?</a>
            </li>

            <li style="display: none;">

                <a href="#">How do I write a review?</a>
            </li>

            <li style="display: none;">

                <a href="#">How often can I write a review?</a>
            </li>

        </ul>
    </div>
    <div class="col-md-6">
        <a href="#" class="guidelinesHeader">Writing Reviews</a>
        <i class="fa fa-flag fa-6 guidelinesIcon" aria-hidden="true">14 articles</i>
        <ul class="article-list">
            <li>

                <a href="">Our guidelines for vacation rental reviews</a>
            </li>

            <li>

                <a href="#">What are airline reviews?</a>
            </li>

            <li>

                <a href="#">I am an airline employee. Can I write a review on my own airline or another?</a>
            </li>

            <li style="display: none;">

                <a href="#">What if I notice a review on the site that isn't in the right place?</a>
            </li>

            <li style="display: none;">

                <a href="#">How do I write a review?</a>
            </li>

            <li style="display: none;">

                <a href="#">How often can I write a review?</a>
            </li>

        </ul>
        <a href="#" class="guidelinesHeader">Listing Guidelines</a>
        <i class="fa fa-flag fa-6 guidelinesIcon" aria-hidden="true">24 articles</i>
        <ul class="article-list">
            <li>

                <a href="">What is a listing?</a>
            </li>

            <li>

                <a href="#">What kinds of places does Trip&Go list?</a>
            </li>

            <li>

                <a href="#">Who can request a listing?</a>
            </li>

            <li style="display: none;">

                <a href="#">What if I notice a review on the site that isn't in the right place?</a>
            </li>

            <li style="display: none;">

                <a href="#">How do I write a review?</a>
            </li>

            <li style="display: none;">

                <a href="#">How often can I write a review?</a>
            </li>

        </ul>
        <a href="#" class="guidelinesHeader">Fraud</a>
        <i class="fa fa-flag fa-6 guidelinesIcon" aria-hidden="true">34 articles</i>
        <ul class="article-list">
            <li>

                <a href="">Our guidelines for vacation rental reviews</a>
            </li>

            <li>

                <a href="#">What are airline reviews?</a>
            </li>

            <li>

                <a href="#">I am an airline employee. Can I write a review on my own airline or another?</a>
            </li>

            <li style="display: none;">

                <a href="#">What if I notice a review on the site that isn't in the right place?</a>
            </li>

            <li style="display: none;">

                <a href="#">How do I write a review?</a>
            </li>

            <li style="display: none;">

                <a href="#">How often can I write a review?</a>
            </li>

        </ul>
    </div>
</div>



