@{
    ViewBag.Title = "TourReservation";
    Layout = "~/Views/Shared/_PartialReservationLayout.cshtml";
}
    <div class="container">
        <div class="row pad_10px" id="thankyou_header">
            <h2 class="center">Thank You for Your Reservation.</h2>
            <h4 class="center">Our staff will contact you as soon as possible!</h4>
        </div>
        <div class="row thankyou_form">
            <form action="" method="POST" role="form" class="form_checkout">
                <legend>Tour Detail</legend>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Tour Name</label>
                        <div id="tour_name_reservation">Frand Canyon and Hoover Dam Day Trip from Las Vegas with Optional Skywalk</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Date</label>
                        <div id="email_reservation">06-Mar-2017 - 09-Mar-2017</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Customer's Quantity</label>
                        <div id="customer_quantity_reservation">6</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Total Fee</label>
                        <div id="total_fee_reservation">1285$</div>
                    </div>
                </div>
                <legend>Your Information</legend>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Full Name</label>
                        <div id="fullname_reservation">Tuan Pham</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Email</label>
                        <div id="email_reservation">tuanbk08vn@gmail.com</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Phone</label>
                        <div id="phone_reservation">01235678965</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Hotel's Address</label>
                        <div id="hotel_reservation">268 Ly Thuong Kiet rds, 14 ward, District 10, HCM</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Note</label>
                        <div id="note_reservation">We are vergeterian</div>
                    </div>
                </div>
                <legend>Payment Info</legend>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Full Name</label>
                        <div id="fullname_card_reservation">Pham Quoc Tuan</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label for="">Country</label>
                        <div id="country_card_reservation">Vietnam</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label for="">Card No.</label>
                    <div id="number_card_reservation">****</div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group">
                        <label for="">Expired Date</label>
                        <div id="expired_day_card_reservation">****************</div>
                    </div>
                </div>
                <a href="/Tour/Tour" type="button" class="btn btn-success" style="margin-left:80%;width:15%;font-weight:bold;">OK</a>
            </form>
        </div>
    </div>

