<div class="max-width no-left-right">
    <div class="row" id="searchHomeMyStyle">
        <div class="col-xs-12 col-xs-offset-2 " id="searchHome">
            <p style="color:white;font-size:25px;text-align:center;">Search Guidelines</p>
            <div class="input-group">
                <div class="input-group-btn search-panel">
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <a href="/Search/Search" class="btn btn-search btn-info btn-lg">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

