<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="100" id="navMyStyle">
    <div class="container-fluid">
        <ul class="nav navbar-nav" id="navList">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Tour
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/Tour/Tour" target="_blank">Europe</a></li>
                    <li><a href="/Tour/Tour" target="_blank">Asia</a></li>
                    <li><a href="/Tour/Tour" target="_blank">North America</a></li>
                    <li><a href="/Tour/Tour" target="_blank">South America</a></li>
                    <li><a href="/Tour/Tour" target="_blank">Africa</a></li>
                    <li><a href="/Tour/Tour" target="_blank">Australia / Australasia / Oceania</a></li>
                    <li class="divider"></li>
                    <li><a href="/Tour/Tour" target="_blank">All</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Destination
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/Destination/Destination" target="_blank">Europe</a></li>
                    <li><a href="/Destination/Destination" target="_blank">Asia</a></li>
                    <li><a href="/Destination/Destination" target="_blank">North America</a></li>
                    <li><a href="/Destination/Destination" target="_blank">South America</a></li>
                    <li><a href="/Destination/Destination" target="_blank">Africa</a></li>
                    <li><a href="/Destination/Destination" target="_blank">Australia / Australasia / Oceania</a></li>
                    <li class="divider"></li>
                    <li><a href="/Destination/Destination" target="_blank">All</a></li>
                </ul>
            </li>
            <li><a href="/UploadTour/UploadTour">Upload Tour </a></li>
            <li><a href="/Home/Guidelines">Guidelines</a></li>
            <li>
                <a class="cart-icon" style="color:orange!important;" href="/Tour/ReviewOrder">
                    <span class="glyphicon glyphicon-shopping-cart" style=""></span>
                    <span class="cart-amount" style="color:white!important;" id="numTourInCard"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>