<div class="max-width no-left-right">
    <div class="row" id="searchHomeMyStyle">
        <div class="col-xs-12 col-xs-offset-2 " id="searchHome">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="padding:11.5px 13px !important;">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Europe</a></li>
                        <li><a href="#">Asia</a></li>
                        <li><a href="#">North America</a></li>
                        <li><a href="#">South America</a></li>
                        <li><a href="#">Africa</a></li>
                        <li><a href="#">Australia / Australasia / Oceania</a></li>
                        <li class="divider"></li>
                        <li><a href="#all">All</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <a href="/Search/Search" class="btn btn-search btn-info btn-lg">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

